<h1>Mijn foto's</h1>
<div class="container">
    {{#with noneFound}}
    <h2>Er zijn geen foto's gevonden! Voeg ze snel toe hieronder!</h2>
    {{/with}}

    <div class="images">
        {{#each images}}
        <figure class="item">
            <img src="{{src}}" alt="{{alt}}">
            <figcaption>
                {{caption}}
            </figcaption>

            <form action="/delete-image/{{filename}}" method="POST">
                <input type="submit" value="Verwijder">
            </form>

        </figure>
        {{/each}}
    </div>

    <div class="upload-form">
        <div js_hook_form_toggle class="background"></div>
        <form enctype="multipart/form-data" action="/upload-image" method="POST">
            <fieldset>
                <legend>Upload jouw afbeelding</legend>
                <label type="file">
                    Upload Afbeelding
                    <input required accept="image/x-png,image/gif,image/jpeg" type="file" name="image">
                </label>
                <label>
                    Wat staat er op de foto (alt text):
                    <input type="text" name="alt">
                </label>
                <label>
                    Caption voor de foto:
                    <input type="text" name="caption">
                </label>
                <input type="submit" value="Versturen">
            </fieldset>
        </form>
    </div>
</div>

<script src="uploadForm.js"></script>