<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mijn wintersport foto's</title>
</head>
<body id={{template}}>
    <header>
        <nav>
            <ul>
                <li><a href="/">Overzicht</a></li>
                <li><a href="/carousel">Carousel</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {{{body}}}
    </main>
</body>
</html>